@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    color: #fff;
}

.root-wrapper {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    background: transparent !important;
}

.main-wrapper {
    display: none;
    width: 50%;
    max-width: 1000px;
    max-height: 600px;
    position: relative;
    overflow: hidden;
    padding: 1.5rem;
    flex: 1 1 auto;
}

.content {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    background: #111;
    padding: 40px 15px;
    border-radius: 15px;
}

.footer {
    width: 100%;
}

.heading {
    min-height: 100%;
    margin-bottom: -10px;
    border-right: 1px solid #ddd;
    padding: 0 15px;
}

.heading h3 {
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
    background: #212121;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}

.heading h3:hover, .heading h3.active {
    background: #171717
}

.heading h1 {
    letter-spacing: 0.5px;
    font-size: 20px;
    position: relative;
    font-weight: 500;
}

.body {
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 550px;
    overflow: auto;
    padding: 0 15px;
}

.body .car {
    flex: 1 1 auto;
    margin-right: 10px;
    min-height: 300px;
    max-height: 300px;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border: 1px solid #212121;
    border-radius: 5px;

    margin-bottom: 15px;

    justify-content: center;
    align-content: center;
    align-items: center;
}

.body .car h3 {
    font-weight: bold;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.body .car img {
    flex: 1 1 auto;
    max-width: 200px;
    height: auto;
}

.body .car .btn {
    flex: 1 1 auto;
    border-radius: 0 !important;
    max-height: 50px;
    cursor: pointer;
    transition: 1s;
}

.body label {
    margin-top: 24px;
}

.body input[type="text"] {
    font-size: 14px;
    outline: none;
    padding-left: 20px;
    border-radius: 5px;
    margin: 5px 0px;
    background: #424242;
    height: 50px;
    border: none;
}

.body input[type="text"]:focus { 
    outline: none;
    box-shadow: inset 0px 0px 0px 2px #F8E6C9;
    transition-property: box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: linear, ease-in;
}

.body select {
    background: #424242;
    border: none;
}

.body option {
    background: #424242;
    padding: 1rem 0;
}

::placeholder {
    color: #F8E6C9;
}

.background {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: -99;
    display: none;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 14px;
    background: #212121;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    transition-property: color, background-color;
    transition-duration: 0.10s, 0.30s;
    transition-timing-function: linear, ease-in;
}

.btn:hover {
    background: #171717;
}

:root {
    --desired-size: 20;
    --coefficient: 7px;
    --size: calc(var(--desired-size) * var(--coefficient));
    --primary-color: hsl(320, 100%, 50%);
    --chord: hsl(45, 100%, 40%);
    --shine: hsla(0, 0%, 100%, 0.75);
    display: none;
}

.balloondiv {
    width: auto;
    height: auto;
    position: absolute;
    display: none;
}

.balloondiv h1 {
    font-size: 72px;
    text-shadow: black 2px 2px;
    text-align: center;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.balloondiv h3 balloon {
    font-size: 36px;
    text-shadow: black 2px 2px;
    text-align: center;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.balloon {
  --primary-color: hsla(var(--h, 0), 100%, 50%, 0.8);
  --size: calc(var(--s, 10) * var(--coefficient));
  height: calc(1.2 * var(--size));
  width: var(--size);
  background: var(--primary-color);
  border-radius: 50% 50% 50% 50% / 45% 45% 55% 55%;
  position: absolute;
  top: 50%;
  left: calc(var(--x, 50) * 1%);
  animation: float calc(var(--d, 1) * 1s) calc(var(--delay, 0) * -1s) infinite linear both;
  display: none;
}

.balloon:before {
  content: '';
  position: absolute;
  width: 20%;
  height: 30%;
  background: blue;
  top: 8%;
  left: 16%;
  border-radius: 50%;
  transform: rotate(40deg);
  background: var(--shine);
}

.balloon__handle {
  width: 2%;
  height: 60%;
  background: var(--chord);
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.balloon__handle:before,
.balloon__handle:after {
  content: '';
  position: absolute;
  height: 5%;
  transform: translate(-50%, 0);
  border-radius: 25% / 50%;
  left: 50%;
}

.balloon__handle:before {
  top: 0;
  background: var(--chord);
  width: 500%;
}

.balloon__handle:after {
  top: 5%;
  background: var(--primary-color);
  width: 700%;
}

.iframe-container {
  display: none;
}

.iframe-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.iframe-safari {
  position: relative;
  width: 80%;
  height: 80%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  background-color: #313234;
}

.iframe-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to bottom, #313234, #2E2D32);
  border-bottom: 1px solid #4D5353;
}

.iframe-header .buttons {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}

.iframe-header .buttons div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.iframe-header .buttons .close {
  background-color: #ff5f57;
  cursor: pointer;
}

.iframe-header .buttons .minimize {
  background-color: #ffbd2e;
}

.iframe-header .buttons .maximize {
  background-color: #28c940;
}

.iframe-header .address-bar {
  flex-grow: 1;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #79797B;
  border: 1px solid #5F5F61;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
}

iframe {
  width: 100%;
  height: calc(100% - 60px); /* Subtract header height */
  border: none;
}

@keyframes float {
  from {
      transform: translate(-50%, -50%) translate(0, 100vh);
  }

  to {
      transform: translate(-50%, -50%) translate(0, -100vh);
  }
}
